/*welcome section */
.confirmation{
	text-align: center;
}
h1{
	font-size: xx-large;
	margin-top: 10%;
	text-align: center;
}
h2{
	font-size: x-large;
	text-align: center;
}
.details{
	text-align: center;
}
.details p{
	font-size: 1.0em;
}
/*profile button section*/
.profile{
	margin-top: 3em;
	text-align: center;
}
button{
	border: 1px solid black;
	border-radius: 25px;
	padding: 1em 4em;
	color: black;
	cursor: pointer;
	transition: 1s ease all;
	align: center;
}
button:hover{
	background-color: lightgray;
}
#printBtn:hover{
	text-decoration: underline;
}
.others{
	text-align: center;
}
.others p{
	font-size: 0.6em;
}
