/*welcome section */
.title{
	text-align: center;
}
h1{
	font-size: 2em;
	margin-top: 5%;
}
/*sign up form section*/
.main{
	margin-top: 3em;
}
form{
	width: 100%;
}
/*escape to sign in section*/
.exit{
	text-align: center;
}
.exit p{
	font-size: 0.8em;
}
#exitBtn{
	color: #0275d8;
	font-weight: bold;
	text-decoration: none;
	transition: 1s ease all;
}
#exitBtn:hover{
	color: lightgray;
}
#submitBtn{
	text-align: center;
	padding: 1em 2em;
}
.btn-primary{
	padding: 0.5em 2em;
}
/*footer*/
footer{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: lightgray;
	text-align: center;
	font-size: 0.5em;
}